/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: 1fr  4fr;
  grid-template-rows: 1fr 6fr;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
  padding: 0px;
}

h1 {
  font-size: 35px;
  font-weight: bold;
}

h2 {
  font-size: 30px;
  font-weight: bold;
}

h3 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

h4 {
  font-size: 22px;
  font-weight: bold;
}

.sidebar {
  padding-top: 20px;
  grid-column: 1/2;
  grid-row: 1/3;
  background-color: rgb(26, 146, 213);
  color: white;
  padding-left: 25px;
  font-size: 20px;
  font-weight: bold;
}

.sidebar h1, .sidebar ul {
  margin-bottom: 40px
}

.sidebar li {
  margin-bottom: 20px;
}

.header {
  grid-column: 2/3;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 60px 40px;
  
}

.searchbarform {
  grid-column: 1/2;
  grid-row: 1/2;
}

.profilebutton {
  grid-column: 2/3;
  grid-row: 1/2;
}

.headertitle {
  grid-column: 1/2;
  grid-row: 2/3;
}

.headerbuttons {
  grid-column: 2/3;
  grid-row: 2/3;
}

.headerbuttons ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.main-content {
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: rgb(226, 232, 240);
  gap: 0px;
  padding: 30px;
}

.trendingcard, .announcementcard, .yourprojectcard {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 5px 6px 22px -3px rgba(0,0,0,0.11);
  -webkit-box-shadow: 5px 6px 22px -3px rgba(0,0,0,0.11);
  -moz-box-shadow: 5px 6px 22px -3px rgba(0,0,0,0.11);
}

.announcementcard, .trendingcard {
  width: 300px;
}

.announcementcard {
  height: 350px;
  grid-row: 1/2;
}

.trendingcard {
  height: 350px;
  grid-row: 2/3;
}

.yourprojectscards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 30px;
}

.yourprojectcard {
  border-left: 10px solid rgb(240, 180, 41);
  width: 450px;
  height: 250px;
}

.rightsidecontent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 460px 1fr;
  margin-left: 20px;
}